{% extends 'base.html.twig' %}

{% block title %}Score du joueur{% endblock %}

{% block body %}
<style>

.conteneur-stats{
  width:1024px;
  margin: 30px auto;
}
.conteneur-stats h2{
  font-size: 40px;
  padding: 50px 0px;
}
.stats{
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: solid 1px grey;
  display: flex;
  text-align: center;
  color: #154360;
}
.stats > .case{
  width: 25%;
}
.c1{
  background-color:  #eaf2f8 ;
}
.casetitre{
  font-size: 20px;
}

</style>

<div class="conteneur-stats">
  <a href="{{path('menu')}}" class="button bBlue2">Retour au menu</a>
  <h2>
  Vos statistiques
  </h2>
  <div class="stats casetitre">
    <div class="case c1">Date</div>
    <div class="case c1">satisfaction Client</div>
    <div class="case c1">reputation Personnel</div>
    <div class="case c1">reputation Entreprise</div>
  </div>
  {% for Score in Scores %}
  <div class="stats">
    <div class="case c1">{{Score.creation_partie |date('d-m-Y') }}</div>
    <div class="case">{{Score.satisfactionC}}</div>
    <div class="case">{{Score.reputationP}}</div>
    <div class="case">{{Score.reputationE}}</div>
  </div>
  {% endfor %}

</div>



{% endblock %}
